<% if @errors %>
	<% @errors.messages.each do |k, v| %>
	<%= "#{k} validation failed: #{v}" %>
	<br>
<% end %>
<% end %>

<form id="event_creation" action="/events/new" method="POST">
	<p><label for="organizer_name">Name</label></p>
			<input id="organizer_name" type="text" name="event[organizer_name]" value=<%= @event.organizer_name if @event %>>

	<p><label for="organizer_email">Email</label></p>
			<input id="organizer_email" type="text" name="event[organizer_email]" value=<%= @event.organizer_email if @event %>>

	<p><label for="title">Title</label></p>
			<input id="title" type="text" name="event[title]" value=<%= @event.title if @event %>>

	<p><label for="date">Date</label></p>
			<input id="date" type="date" name="event[date]" value=<%= @event.date if @event %>>

	<p><input type="submit" value="Create"></p>
</form>